<%- include('partials/header.ejs') -%>
<body>
    <div>
        <h2>Enter Co-Po Matrix</h2>
        <form action="entercopomatrix" method="POST">

            <table>
                <tr align="centre">
                    <td width="100px" align="center"></td>
                    <td width="100px" align="center">PO1</td>
                    <td width="100px" align="center">PO2</td>
                    <td width="100px" align="center">PO3</td>
                    <td width="100px" align="center">PO4</td>
                    <td width="100px" align="center">PO5</td>
                    <td width="100px" align="center">PO6</td>
                    <td width="100px" align="center">PO7</td>
                    <td width="100px" align="center">PO8</td>
                    <td width="100px" align="center">PO9</td>
                    <td width="100px" align="center">PO10</td>
                    <td width="100px" align="center">PO11</td>
                    <td width="100px" align="center">PO12</td>
                </tr>
                <% for(let i = 1; i <= course.co_no; i++) { %>
                    <tr>
                        <th width="100px"><label for="co<%= i %>">CO<%= i %> : </label></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>1" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>2" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>3" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>4" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>5" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>6" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>7" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>8" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>9" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>10" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>11" size="10px" min="0" max="3" required></th>
                        <th width="100px"><input type="number" name="co<%= i %>[]" id="<%= i %>12" size="10px" min="0" max="3" required></th>
                    </tr>
                
                <% } %>
            </table>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>