<%- include('partials/header.ejs') -%>
<body>
    <div>
        <h1><%= course.course_name %></h1>
        <div>
            <ul>
                <li>Course Code : <%= course.course_code %></li>
                <li>Department : <%= deptName %></li>
                <li>Semester : <%= course.semester %></li>
            </ul>
        </div>
        <div>
            <a href="<%= course.course_code %>/assignfaculty"><button>Assgin Faculty</button></a>
        </div>
    </div>
</body>